* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(16,6.25%);
    grid-template-rows: repeat(16,6.25%);
    border: 1px solid red; 
    height: 960px;
    width: 960px;
    gap: 0px;

}